<div>
  <!--<object type="text/html" data="http://www.nfl.com/photos/09000d5d82618287"-->
          <!--width="1000px" height="500px">-->
  <!--</object>-->

</div>
<p-dataGrid [value]="rings$ | async" class="ring-dataGrid">
  <p-header>All NFL rings</p-header>
  <ng-template let-ring pTemplate="item">
    <div class="ui-g-12 ui-md-3 ring-grid">
      <p-panel [header]="ring.id" class="card ring-grid-element">
        <img src="assets/nfl/{{ring.path}}" class="ring-grid-image" width="150">
        <div>{{ring.winner}} - {{ring.roman}} Super Bowl ({{ring.year}})</div>
        <hr class="ui-widget-content" style="border-top:0">
        <i class="fa fa-search" style="cursor:pointer; text-align: center"></i>
      </p-panel>
    </div>
  </ng-template>
</p-dataGrid>
