<form [formGroup]="form">
  <div class="ui-grid ui-grid-responsive ui-fluid ui-widget">
    <div class="ui-grid-row user-editor-row">
      <div class="ui-grid-col-3"><label for="userNameEdit">Username</label></div>
      <div class="ui-grid-col-9">
        <input pInputText id="userNameEdit"
               [(ngModel)]="selectedUser.userName"
               formControlName="userName"/>
      </div>
    </div>
    <div class="ui-grid-row user-editor-row">
      <div class="ui-grid-col-3"><label for="ssoEdit">SSO</label></div>
      <div class="ui-grid-col-9">
        <input pInputText="" id="ssoEdit"
               [(ngModel)]="selectedUser.sso"
               formControlName="sso" />
      </div>
    </div>
    <div class="ui-grid-row user-editor-row">
      <div class="ui-grid-col-3"><label for="ageEdit">Age</label></div>
      <div class="ui-grid-col-9">
        <input pInputText id="ageEdit"
               [(ngModel)]="selectedUser.age"
               formControlName="age" />
      </div>
    </div>
    <button type="button" pButton (click)="onSave()"
            label="Save" style="float:left; width: auto"
            [disabled]="!saveButtonEnabled"></button>
  </div>
</form>
